!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    
    = csrf_meta_tag
    = yield(:head)

  %body{id: bodyid, class: bodyclass}

 
    // menu fixed top
    // to body or nav add .navbar-fixed-top 
    // http://getbootstrap.com/components/
    %header#main-header{id: 'main-header', class: 'navbar navbar-inverse', role: 'banner'}
      .container
        .navbar-header
          %button{:"data-target" => '.bs-navbar-collapse', :"data-toggle" => 'collapse', :type => 'button', :class => 'navbar-toggle'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to image_tag('logo.png'), root_path, class: 'navbar-brand'
        %nav{class: 'collapse navbar-collapse bs-navbar-collapse', role: 'navigation'}
          = render 'layouts/menu'

    %section#content
      = yield

    %footer#main-footer

    = javascript_include_tag 'application'
